body{
    background-image: radial-gradient(circle at 87.5% 12.5%, #ffd665 0, #f0d65e 7.14%, #dfd658 14.29%, #cdd653 21.43%, #b8d550 28.57%, #a1d24e 35.71%, 
    #88d04e 42.86%, #6acc50 50%, #43c854 57.14%, #00c45b 64.29%, 
    #00c064 71.43%, #00bd6e 78.57%, #00b97b 85.71%, #00b688 92.86%, #00b497 100%);
}

 .titulote{
    color: hotpink;
    font-size: 60px;
    text-align: center;
}

.imprime{
    border: black;
}

.catalogos{
    width: 340px;
}
